.container
  display: flex
  flex-direction: column
  width: 400px
  height: 276px
  font-size: 20px
  gap: 15px
  align-items: center
  justify-content: center
  background-color: #f5f4f4
  padding: 20px 20px
  border-radius: 15px
  color: #313131
  > h2
    font-size: 24px
  .select
    height: 50px
    width: 100%
    background-color: #313131
    border-radius: 3px
    color: black
    border: 1px solid #c5c5c5
    color: #f5f4f4
    &:focus
      outline: none

  .adress
    all: unset
    margin: 0
    height: 50px
    width: calc( 100% - 22px )
    font-size: 14px
    padding: 0px 10px
    border-radius: 3px
    border: 1px solid #c5c5c5
    background-color: #313131
    color: #f5f4f4

  .button
    all: unset
    margin: 0
    padding: 0px 10px
    height: 51px
    width: max-content
    border-radius: 3px
    background-color: #a1fa3b
    color: black
