@import ../../app/global

.container
  max-width: 500px
  max-height: 500px
  .button
    all: unset
    text-align: center
    height: 30px
    padding: 10px 20px
    width: max-content
    border-radius: 10px
    background-color: $text-color-in-white-elements
    color: #ffff
    font-weight: 600
    font-size: clamp( 16px,1vw, 24px )
    transition: background-color 0.3s
    &:hover
      background-color: #424242

  .content
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    backdrop-filter: blur(10px)
    width: 100vw
    height: 100%
    top: 0
    right: 0
    z-index: 10
    background-color: rgba(0, 0, 0, 0.5)
