.container
  display: grid
  background-color: rgba(1, 49, 94, 1)
  width: 500px
  height: max-content
  grid-template-rows: repeat( auto-fit, 1fr )
  align-content: space-between
  border-radius: 16px
  border: 1px solid #666666
