.container
  display: grid
  background-color: #FFFFFF
  width: 500px
  height: max-content
  grid-template-rows: repeat( auto-fit, 1fr )
  align-content: space-between
  border-radius: 16px
  border: 2px solid #ebebeb
  &:empty
    display: none
  @media (width < 1250px)
    width: calc(100% - 4px)
