.table
  display: grid
  background-color: blue
  grid-template-columns: repeat( 2, 1fr )
  grid-auto-rows: minmax( 100px, auto )
  width: 100%
  height: max-content
  color: #575757
  gap: 20px
  @media (width < 700px)
    grid-template-columns: none
    grid-template-rows: repeat( auto-fit, 1fr )

  .card
    background-color: white
    width: auto
    height: max-content
    border-radius: 15px
    padding: 20px
    display: flex
    flex-direction: column
    gap: 15px
    > h2
      font-size: 24px
      color: #575757

    .items
      display: flex
      flex-direction: column
      background-color: red
      .item
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        height: 72px
        border-radius: 10px
        padding: 10px
