.table
  display: table
  text-align: left
  overflow: hidden
  width: fit-content
  height: max-content
  margin: 0 auto
  border-collapse: collapse
  box-sizing: border-box
  table-layout: auto

  >table
    background-color: #414141
    display: flex
    border-radius: 15px
    flex-direction: column
    position: relative
    align-items: center
    justify-content: space-between
    padding: 10px 10px

    >thead
      background-color: #4b4b4b
      text-align: center
      width: 100%
      border-radius: calc( 15px - 10px )
      border-bottom: 1px solid #777777
      color: white
      >tr
        margin: 0
        display: flex
        align-self: center
        align-items: center
        gap: 100px
        justify-content: space-between
        >th
          width: 100%
          text-align: center
          border-bottom: 1px solid #ff0000

    >tbody
      text-align: center
      font-size: 24px
      width: 100%
      border-radius: calc( 15px - 10px )
      color: white
      >tr
        margin: 0
        display: flex
        align-self: center
        align-items: center
        gap: 100px
        width: 100%
        justify-content: space-between

      .table
        padding: 20px 50px
        width: 100%
        align-items: center
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid #777777
        gap: 40px
        > tr
          background-color: #fff
          > td
            width: 250px
        .containertr
          display: flex
          align-items: center
          > tr
            background-color: red
            width: 590px
            display: flex
            flex-direction: column
            gap: 15px
            &:nth-child(2n)
              background-color: #003cff
              width: 350px
            >td
              text-align: center
